<div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <tbody>
            <tr>
              <td>Your IP</td>
              <td>{{ ip }}</td>
            </tr>
            <tr>
              <td>Your port</td>
              <td>{{ port }}</td>
            </tr>
            <tr>
              {% if reverse %}
                <td>Reverse lookup</td>
                <td>{{ reverse }}</td>
              {% else %}
                <td>No reverse lookup available</td>
              {% endif %}
            </tr>
            <tr class="separator text-center">
              <td>Header</td>
              <td>Value</td>
            </tr>
            {% for key, value in parent_dict.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>