  <div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <tbody>
      <tr>
        <td>whoami.alexasr.tk/</td>
        <td>This page</td>
      </tr>
      <tr>
        <td>whoami.alexasr.tk/index/</td>
        <td>Also this page</td>
      </tr>
      <tr>
        <td>whoami.alexasr.tk/ip/</td>
        <td>{{ ip }}</td>
      </tr>
      <tr>
        <td>whoami.alexasr.tk/port/</td>
        <td>{{ port }}</td>
      </tr>
      <tr>
        <td>whoami.alexasr.tk/reverse/</td>
        <td>{{ reverse }}</td>
      </tr>
        {% for key, value in parent_dict.items() %}
          {% if key == "User-Agent" %}
            <tr>
              <td>whoami.alexasr.tk/ua/</td>
              <td>{{ value }}</td>
            </tr>
          {% elif key == "Accept-Language" %}
            <tr>
              <td>whoami.alexasr.tk/lang/</td>
              <td>{{ value }}</td>
            </tr>      
          {% endif %}  
        {% endfor %}
      <tr>
        <td>whoami.alexasr.tk/raw/json/</td>
        <td>{{ json }}</td>
      </tr>
      <tr>
        <td>whoami.alexasr.tk/raw/xml/</td>
        <td>{{ xml }}</td>
      </tr>
    </tbody>
  </table>
</div>